@using Nemesys.Models.ViewModels
@model Nemesys.Models.ViewModels.ReportPostViewModel


@{
    ViewData["Title"] = Model.Title;
}

<a asp-controller="ReportPosts" asp-action="Index" class="btn btn-outline-secondary">Back to list</a>

<h1>@Model.Title</h1>

<div class="card" style="width: 90%; padding:20px; margin:20px;">
    <img class="card-img-top" src="@Model.ImageUrl" alt="Image for @Model.Title" />
    <div class="card-body">
        <h3 class="card-title">@Model.Title</h3>
        <p class="card-text">@Model.Content</p>
        <p class="small">Category: @Model.Category.Name</p>
        <p class="small">Reported on: @Model.CreatedDate.ToShortDateString()</p>
        <p class="small">Reported by: @Model.Author.Name</p>
    </div>
</div>

<a asp-controller="ReportPosts" asp-action="Index" class="btn btn-primary">Back to list</a>

@if (User.Identity.IsAuthenticated)
{
    if (Model.LoggedInUserId == Model.Author.Id)
    {
        <a asp-controller="ReportPosts" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-primary">Edit</a>
    }
}
